body{
    background-color: bisque;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 380px;
    margin: auto;
    background: #fff;
}

.display {
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 3rem;
    justify-content: end;
    align-items: center;
    display: flex;
    height: 100px;
}

.button-grid button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    width: 81px;
    height: 70px;
    margin: 5px;
}